.footer {
  width: 100%;
  background-color: #f9f9f9; 
  color: #333;
  font-family: 'Arial', sans-serif;
  padding: 1rem 1rem 1rem;
  box-sizing: border-box;
} 
.footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
  color: #666;
  padding-top: 1rem;
}


@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer-column {
    width: 100%;
  }
}
