.sidebar {
  width: 250px;
 
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
 
}

.sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.category label {
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  transition: background 0.2s ease;
  font-size: 0.95rem;
}

.category label:hover {
  background-color: #333;
}

input[type="radio"] {
  accent-color: #FAD201;
  margin-right: 0.5rem;
}

.main-cat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  transition: background 0.2s;
}

.main-cat:hover {
  background-color: #333;
}

.subcategory {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 0.3rem;
}
