.category-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.category-main .left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  font-size: 14px;
  opacity: 0.8;
}

.arrow-icon {
  font-size: 12px;
  opacity: 0.7;
}
