/* Full Layout */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  background: #000000e8;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Main Section */
.content {
  flex: 1;
  padding: 20px;
}

/* Footer */
.footer {
  background: #f1f1f1;
  padding: 15px;
  text-align: center;
}


/* end */